<div class="flip">
  <div class="card">
    <div class="face front">
        <%= flash_card.term %>
    </div>
    <div class="face back">
        <%= flash_card.definition %>
    </div>
  </div>
</div>
