<div class="row flash-card-row">
  <div class="container flash-card">

    <div class="col-md-6">
      <div class="term-text">
        <h3><%= flash_card.term %></h3>
      </div>
    </div> <!-- col-md-6 -->

    <div class="col-md-6">
      <div class="definition-text">
        <h3><%= flash_card.definition %></h3>
      </div>
    </div> <!-- col-md-6 -->

  </div> <!-- container flash-card -->
</div> <!-- row -->
