<div class="row flash-card-row">
  <div class="container flash-card">

    <div class="col-md-6">
      <div class="term-text">
        <h3><%= flash_card.term %></h3>
      </div>
    </div> <!-- col-md-6 -->

    <div class="col-md-6">
      <div class="definition-text">
        <h3><%= flash_card.definition %></h3>
      </div>
      <div class="star">
          <svg height="25" width="23" class="<%= 'starred' if flash_card.is_starred %>" data-rating="1">
            <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
          </svg>
      </div>
    </div> <!-- col-md-6 -->

  </div> <!-- container flash-card -->
</div> <!-- row -->
