<div class="SetPage-term">
    <div class="SetPageTerm has-definitionText is-showing">
        <div class="SetPageTerm-inner">
            <!-- react-empty: 149 -->
            <div class="SetPageTerm-contentWrapper">
                <div class="SetPageTerm-content">
                    <div class="SetPageTerm-word">
                        <a class="SetPageTerm-wordText">
                            <span class="TermText notranslate lang-en qWord"><!-- react-text: 155 -->Growth<!-- /react-text --></span>
                        </a>
                    </div>
                    <div class="SetPageTerm-definition">
                        <a class="SetPageTerm-definitionText">
                            <span class="TermText notranslate lang-en qDef"><!-- react-text: 159 -->Change in size<!-- /react-text --></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="SetPageTerm-actions">
                <span class="SetPageTerm-star">
                    <span class="UIIconButton is-Popover is-Tooltip UIOverlayTrigger-target">
                        <button class="UIButton UIButton--borderless" type="button">
                            <svg class="UIIcon UIIcon--star-empty">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star-empty"></use>
                                <noscript></noscript>
                            </svg>
                        </button>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
