<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Flash Cards</h1>
    <p class="lead">Browse user-generated flash cards or create your own</p>
  </div> <!-- container -->
</div> <!-- jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="search-bar">
        <form id="search-form" >
          <div class="input-group">
            <input type="text" name="search" id="search" value="and" class="form-control">
            <span class="input-group-btn">
            <input type="submit" value="Search" class="btn btn-default" data-disable-with="Search"></span>
          </div><!-- /input-group -->
        </form>
    </div><!-- /.search-bar -->
  </div><!-- /.col-md-12 -->
</div><!-- /.row -->

  <div class="row">
    <%= render :partial => "study_set_list", locals: {study_sets: @study_sets} %>
  </div><!-- row -->
</div><!-- container -->

<!-- handlebars studySet template -->
<script id="studySet-template" type="text/x-handlebars-template">
  {{#studySets}}
    <div class="Homepage-studySet">
      <div class="SetPreview">
        <div class="UILinkBox">
          <div class="UILinkBox-inner">
            <div class="PreviewCardByline">
              <span class="SetPreview-cardBylineTermsCount">{{ flashCardCount }} terms</span>
              <span class="UIVerticalRule UIVerticalRule--onWhite"></span>
              <div class="SetPreview-cardBylineCreator">
                <div class="UserLink">
                  <div class="UserLink-inner">
                    <div class="UserLink-avatar">
                      <a class="UILink" href="/users/{{ ownerId }}">
                        <span class="UserAvatar" style="background-image:url({{ ownerImage }});height:16px;width:16px;"></span>
                      </a>
                    </div>
                    <div class="UserLink-content">
                      <a class="UILink" href="/users/{{ ownerId }}" >
                        <span class="UserLink-username">{{ ownerEmail }}</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <header class="SetPreview-cardHeader">
              <span class="SetPreview-cardHeaderTitle">{{ title }}</span>
            </header>
          </div>
          <div class="UILinkBox-link">
            <a class="UILink" data-sourcename="homepage-set-preview" href="/users/{{ ownerId }}/study_sets/{{ id }}"></a>
          </div>
        </div>
      </div>
    </div>
  {{/studySets}}
</script>
