
<div class="jumbotron" id="study-set-title">
  <span class="term-count">10 terms</span>
  <span class="separator"> | </span><span class="study-set-owner">Example User</span>
  <h1>Study Set</h1>
</div>


<div class="study-sets-container">

  <div class="row">
    <div class="col-md-3">
      <div class="sort-controls">
        <div class="form-group">
          <label for="sort">Sort</label>
          <select class="form-control" id="sort">
            <option>Original</option>
            <option>Alphabetial</option>
          </select>
        </div>
      </div>
    </div><!-- col-md-3 -->  <div class="col-md-3">
        <div class="sort-controls">
          <div class="form-group">
            <label for="sort">Filter</label>
            <select class="form-control" id="sort">
              <option>All</option>
              <option>Starred (1)</option>
            </select>
          </div>
        </div>
      </div><!-- col-md-3 -->
    <div class="col-md-6">
    </div>
  </div><!-- row -->

  <% 10.times do %>
    <%= render 'flash_card' %>
  <% end %>

</div><!-- study-sets-container
