<% study_sets.each do |study_set| %>
  <p><%= link_to study_set.title, user_study_set_path(study_set.owner, study_set) %><% if user == current_user && study_set.owner == current_user %> | <%= link_to "Edit", edit_user_study_set_path(study_set.owner, study_set) %> | <%= link_to "Destroy", user_study_set_path(study_set.owner, study_set), method: "delete" %><% end %></p>
<% end %>
