// Place all the styles related to the folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.study-set-list {
  padding: 0;
  list-style: none;
  text-align: center;
}
