// Place all the styles related to the study_sets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Card flip

body {
 background: #ccc;
}
.flip {
  -webkit-perspective: 800;
   width: 400px;
   height: 200px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  font-family: 'Gloria Hallelujah', cursive;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}

//

.search-bar {
  max-width: 500px;
  margin: 0 auto 20px auto;
}

.copy-this a, .edit-this a, .study-set-owner {
  color: #eee;
}

.copy-this a:hover, .edit-this a:hover, .study-set-owner:hover {
  color: #eee;
}

.study-sets-container {
  background: #f0f0f0;
  width: 100vw;
}

#study-set-title {
  margin-bottom: 0;
}

#sort {
  width: 66%;
  float: right;
}

.sort-controls {
  padding:20px;
}

.sort-controls label {
  display: inline;
}

.term-text, .definition-text {
  text-align: left;
  width: 100%;
  min-height: 5em;
}

.term-text {
  border-right: 1px solid #ccc;
}

.definition-text {
  display: inline-block;
  width: 80%;
  margin-right: 0;
}

.star {
  float: right;
  width: 20%;
  margin: 0;
}

.flash-card {
  box-sizing: border-box;
  padding: 1em 0 1em 0.6em;
  border: 1px solid #eee;
  background: #fff;
  min-height: 6em;
}

.flash-card-row {
  margin-bottom: 1em;
}

.flash-card {
  box-shadow: 2px 2px 20px #ccc;
}

polygon {
  cursor: pointer;
  fill: #d8d8d8;
}

polygon:hover {
  fill: yellow;
}

.starred {
  fill: yellow;
}
