// Place all the styles related to the study_sets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-bar {
  max-width: 500px;
  margin: 0 auto 20px auto;
}

.copy-this a, .edit-this a {
  color: #eee;
}

.copy-this a:hover, .edit-this a:hover {
  color: #eee;
}

.study-sets-container {
  background: #f0f0f0;
  width: 100vw;
}

#study-set-title {
  margin-bottom: 0;
}

#sort {
  width: 66%;
  float: right;
}

.sort-controls {
  padding:20px;
}

.sort-controls label {
  display: inline;
}

.term-text, .definition-text {
  text-align: left;
  width: 100%;
  min-height: 5em;
}

.term-text {
  border-right: 1px solid #ccc;
}

.definition-text {
  display: inline-block;
  width: 80%;
  margin-right: 0;
}

.star {
  float: right;
  width: 20%;
  margin: 0;
}

.flash-card {
  box-sizing: border-box;
  padding: 1em 0 1em 0.6em;
  border: 1px solid #eee;
  background: #fff;
  min-height: 6em;
}

.flash-card-row {
  margin-bottom: 1em;
}

.flash-card {
  box-shadow: 2px 2px 20px #ccc;
}

polygon {
  cursor: pointer;
  fill: #d8d8d8;
}

polygon:hover {
  fill: yellow;
}

.starred {
  fill: yellow;
}
