<% if flash[:notice] %>
  <div class="flash-messages">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
<% if flash[:notice] %>
  <div class="flash-messages">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>
